@model Ellucian.Colleague.Api.Models.ApiTests

@{
    ViewBag.Title = "Colleague Web API Planning Utilities";
    bool loggedIn = Ellucian.Web.Http.Configuration.LocalUserUtilities.IsLoggedIn(Request);
}

@* Header/Title *@
<div class="esg-page-header">
    <h2 class="esg-page-header__title header-margin">@ViewBag.Title</h2>
</div>

<div id="PlanningUtilitiesbody">
    <section class="content-wrapper main-content clear-fix"><br/>
        <div class="base">
            <h3>Any Web API Host</h3>
            @if (!loggedIn)
            {
                <p>These tests require you to @Html.ActionLink("Login", "login", new { Area = "", Controller = "Admin" }) first.</p>
            }
            <br/>
            <p>These tests use the .NET API client against <strong>any</strong> Web API host.</p>
        </div>
        <table class="Utilities">
            <tr>
                <td>Degree Plan for current user</td>
                <td>GET &nbsp;&nbsp; @Html.ActionLink("degreePlans/{id}", "DegreePlan", "Test", null, null)</td>
            </tr>
            <tr>
                <td>Program evaluation for current user</td>
                <td>GET &nbsp;&nbsp; @Html.ActionLink("students/{id}/evaluation/{program}", "Evaluation", "Test", null, null)</td>
            </tr>
            <tr>
                <td>Advisee list for current user</td>
                <td>GET &nbsp;&nbsp;</td>
            </tr>
        </table>

        <h3 class="base">This Web API Host</h3>
        <table class="Utilities">
            <tr>
                <td>@Html.ActionLink("Scan the rules", "ScanRules", "LocalTest", null, null) associated with Degree Audit requirements.</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Run a program evaluation", "Evaluation", "LocalTest", null, null) for the current user.</td>
            </tr>
        </table>
    </section>
</div>