@model Ellucian.Colleague.Api.Areas.Planning.Models.Tests.TestScanRules

@{
    ViewBag.Title = "Degree Audit Rules Scan";
    var pct = (((float)Model.Supported / (float)Model.Count) * 100);
}

@* Header/Title *@
<div class="esg-page-header">
    <h2 class="esg-page-header__title header-margin">@ViewBag.Title</h2>
    <a href="@Url.Action("", "Test")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>Back to List
    </a>
</div>
<div class="widerBase">
    <p>
        For improved performance, some Colleague rules can be optimized for execution in .NET, in the context of a program evaluation. This utility scans all the rules
        associated to degree audit requirements and picks out the ones that can't be optimized. Those that cannot be optimized are still executed in Colleague.
        The purpose of this page is to offer insight into how the optimization engine can expand its support for more types of rules.
    </p>

    <ul>
        <li>Total rules: @Model.Count</li>
        <li>Total that can be optimized for .NET execution: @Model.Supported</li>
        <li>Coverage: @string.Format("{0}%", pct)</li>
    </ul>

    <h3>Log</h3>
<pre>@Model.Log</pre>
</div>